<header>

  <% if (hero) { %>
    <figure data-href="<%- imagecdn %><%- hero %>" class="hero progressive replace" itemprop="primaryImageOfPage">
      <img src="<%- imagecdn %>c_scale,w_50/<%- hero %>" alt="<%= hero.replace(/.+\/([^/]+)(\-\d+)$/, '$1').trim(); %>" class="preview" />
    </figure>
  <% } %>

  <p class="logo">
    <a href="<%- root %>"><img src="images/cp-conversions.svg" data-inline="1" /><strong>CP<span>Conversions</span> <em><%= topic %></em></strong></a>
  </p>

  <% if (heroquote) { %>
  <div class="quote">
    <q><%- heroquote %></q>

    <% if (ctalink && ctatext) { %>
      <a href="[root]<%- ctalink %>" class="cta"><%- ctatext %></a>
    <% } %>

  </div>
  <% } %>

</header>
