// Global Sass variables

// fonts
$font-main: tahoma, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-size-old: 100%;
$font-size-rwd: calc(0.7em + 0.5vmax);

// responsive breakpoints
$breakpoint: (
	'small'		: 30rem,
	'medium'	: 56rem,
	'large'		: 70rem
);

// colours
$color-logo: #622;
$color-bak1: #f3e5e6;
$color-bak2: #a66c75;
$color-fore: #400;
