/* hCard address microformat */
$hcardpad: 6em;

.vcard
{
  max-width: 22em;
  margin: 1em auto;

  dl, dt, dd, ul, li, p {
    @include reset-list;
    white-space: nowrap;
  }

  dd {
    margin: 0.6em 0;
  }

  dt {
    float: left;
    width: $hcardpad;
    text-align: right;
    padding-right: 0.5em;
    color: lighten($color-fore, 25%);
  }

  p {
    padding-left: $hcardpad;
  }

  main & a {
    text-decoration: none;
  }

}
