// page footer
footer {

  position: relative;
  font-size: 0.9em;
  text-align: center;
  padding: 2em 0;
  background-color: $color-logo;
  color: $color-bak1;

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include reset-list;
  }

  li {
    padding: 0.2em 1em;

    a, a:link, a:visited {
      color: $color-bak1;

      &:before {
        width: 1.6em;
        height: 1.6em;
        margin-right: 0.4em;
        background-color: $color-bak1;
        border: 1px solid $color-bak1;
        border-radius: 0.2em;
      }
    }

  }

}

p.optimalworks {
  position: absolute;
  right: -4vw;
  bottom: 0;
  @include reset;

  a {
    font-size: 0.7rem;
    padding: 8px;
    color: #fff;
  }
}


