// in-page navigation list

.list {

  clear: both;
  margin: 3em 0;
  overflow: auto;

  ul, li {
    list-style-type: none;
    @include reset;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  li {
    flex: 1 1 15em;
    padding: 0 0.6em 0 0;
    margin: 1em 0;
  }

  li a {
    text-decoration: none;
  }

  div.img {
    width: 50%;
    float: right;
    margin: 0 0 0 1em;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    shape-margin: 0.5em;
  }

  h2 {
    clear: none;
    margin-top: 0;
    color: $color-logo;
  }

  p {
    line-height: 1.15;
    color: $color-fore;
  }

  li:nth-child(even) {

    text-align: right;
    padding: 0 0 0 0.6em;

    div.img {
      float: left;
      margin: 0 1em 0 0 ;
    }
  }

  img {
    transform: translateX(0) scale(1);
    transition: transform 2s ease-out;
  }

  a:hover, a:focus {

    img {
      transform: translateX(-20px) scale(1.2);
    }

  }

  @supports (shape-margin: 0.5em) {

    div.img {
      margin: 0 !important;
    }

  }

}
