// primary layout
header, .breadcrumb, main, aside, footer {

  max-width: 48em;
  margin: 0 auto;
  background-color: $color-bak1;

}

main, footer {
  padding: 1vh 4vw;
}

main {
  background: $color-bak1 inline('images/cp-conversions.svg') 100% 0% no-repeat;
  background-size: 60%;
  // background-blend-mode: overlay;
}
